/* Global Styles */
body{
    font-size: 1em;
    color: black;
    font-family: $fira;
}

// Heading Styles

h1, h2, h3, h4, h5, h6{
    color: $red;
    font-weight: bold;
}

h1{
    font-size: 2em;
}

p{
    line-height: 1.6;
}

/* Basic Text Styles */

.caps{
    text-transform: uppercase;
}

.tcenter{
    text-align: center;
}

/* Basic Color Styles */

.red{
    color: $red;
}

.background-red{
    background-color: $red;
}

.l-red{
    color: $light-red;
}

.d-red{
    color: $dark-red;
}
